.bibliography {
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
  }
  
  .bibliography h2 {
    color: #555555;
    margin-bottom: 20px;
  }
  
  .bibliography ul {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .bibliography li {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.6;
  }