.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the sidebar takes full height */
}

.sidebar-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #555555;
  flex: 0 0 auto; /* Prevent the title from stretching */
}

.sidebar-list-container {
  flex: 1 1 auto; /* Allow this container to grow and fill available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the list */
  align-items: center; /* Optional: Horizontally center the list items */
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Make the list take full width if needed */
}

.sidebar-item {
  padding: 10px 0;
  cursor: pointer;
  color: #555555;
  transition: color 0.3s, opacity 0.3s, font-size 0.3s;
  opacity: 0.7;
  font-size: 1em;
  text-align: center; /* Centers text horizontally within each item */
}

.sidebar-item:hover {
  color: #000000;
}

.sidebar-item.active {
  font-size: 1.2em;
  opacity: 1;
  color: blue;
}